/* CSS reset */
*{ font-family:"microsoft yahei",simsun,Tahoma,sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
fieldset,img {border:0; }
ol,ul {list-style:none; }
h1,h2,h3,h4,h5,h6,button,input,select,textarea {font-size:100%;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0; border:0;}
table {border-collapse:collapse;border-spacing:0;}
i, cite, em, var, dfn, address {font-style: normal;}
body{ font-size:14px;}
a{color: #313131;text-decoration: none; }
a:hover{text-decoration: underline;}
a:active, a:focus{outline:none}
.fl{float: left;}
.fr{float: right;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size:0;}
.clearfix{zoom:1;clear:both;}
.clear{clear:both; height:0; line-height:0; font-size:0;}
.hidden,.none{display: none;}


body {background:#fff;}
table,td,th{
    border:1px solid #cad9ea;
    padding:0 1em 0;
	text-align:center;
}

td{
    background-color:#f5fafe;
}
.all{width:100%;}
.score_show{width:100%; text-align:center;margin-top:10px;}
.score_table{ display: inline-block;padding:0px;}
th{height:35px;}
td{height:30px;}
.tishi{text-align:center;margin-top:20px;}
.term{font-size:16px;}
.class{padding-left:100px;font-size:16px;}